
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fefefe;
}

.cat-image {
	position: absolute; 
            top: 0; 
            right: 600px; 
            z-index: 10; 
            max-width: 450px; 
            height: auto;
			z-index: -1;
}

.sun-image {
	position: absolute; 
	left: 700px;
    top: 0; 
    z-index: 10; 
    max-width: 300px; 
    height: auto;
	z-index: -1;
			
}


.container {
	width: 40%;
	margin-top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 70px;
}

.form-container {
	width: 80%;
	border: 1px solid #ecf53d;
	border-collapse: collapse;
	padding: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table td {
	border: 1px solid #0e32e8;
	padding: 8px;
	text-align: left;
}

input, select, textarea {
	width: calc(100% - 16px);
	padding: 4px;
}

.buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	width: 100%;
}

.btn {
	padding: 10px 20px;
	border: 1px solid #8298f3;
	background-color: #ffffff;
	cursor: pointer;
}

.btn:hover {
	background-color: #f0f0f0;
}



